:root {
  --topbar-color: rgb(172, 172, 172);
  --sidebar-color: rgb(235, 175, 175);
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 40px;
  background-color: var(--topbar-color);
}

main {
  height: calc(100vh - 40px);
  width: 100%;
}

#topBar {
  height: 80px;
  width: 100%;
  background-color: rgb(146, 196, 219);
  position: relative;
}

#mainPage {
  height: calc(100% - 80px);
}

#musicInfoPage {
  height: calc(100% - 80px);
}

#cartPage {
  width: 100%;
  height: calc(100% - 80px);
}

#checkoutPage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  overflow: auto;
}

div#invoicePage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 10px;
  overflow: auto;
}

#loginPage {
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  padding: 10px;
  overflow: auto;
}

#createAccountPage {
  width: calc(100% - 20px);
  height: calc(100% - 100px);
  padding: 10px;
  overflow: auto;
}

.pageHeader {
  height: 50px;
  background-color: var(--topbar-color);
}

#buttonsMenu {
  width: 100%;
  height: 40px;
}

.buttons {
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  background-color: var(--sidebar-color);
  height: 16px;
  width: 60px;
  text-align: center;
  font-size: 0.75rem;
  padding-top: 2px;
}

#searchBar {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 2px 50px;
}

#searchInput {
  width: calc(100% - 110px);
  margin: 8px 10px;
  height: 20px;
  border: 1px solid black;
}

.pageHeadings {
  font-size: 1.7rem;
  color: red;
  height: 35px;
}

#searchButton {
  margin: 8px 10px;
}

.pointer:hover {
  cursor: pointer;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clearLeft {
  clear: left;
}

.clearRight {
  clear: right;
}

.clearBoth {
  clear: both;
}

.displayNone {
  display: none;
}

.overflowBox {
  overflow: auto;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 451px) and (max-width: 960px) {
  .pageHeadings {
    font-size: 1.5rem;
  }

  #searchBar {
    padding: 2px 25px;
  }
}

@media only screen and (max-width: 450px) {
  .pageHeadings {
    font-size: 1.1rem;
    height: 25px;
  }

  #searchBar {
    padding: 2px 10px;
  }
}
