nav {
  height: 100%;
  width: 300px;
  background-color: var(--sidebar-color);
}

#mainSection {
  height: 100%;
  width: calc(100% - 300px);
}

#musicRecordsArea {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.musicRecord {
  height: 350px;
  width: 250px;
  background-color: var(--sidebar-color);
  border: 1px solid black;
  margin: 20px 10px;
}

.directoryLink {
  font-size: 0.7rem;
  height: 15px;
  width: 100%;
}

.link {
  color: blue;
  text-decoration: underline;
}


.mainMusicName {
  height: 70px;
  width: 250px;
  font-size: 1.3rem;
}

.mainMusicImageBox {
  height: 180px;
  width: 250px;
}

.mainMusicImageBox > img {
  height: 100%;
  width: auto;
}

.mainMusicInfo {
  height: 100px;
  width: 250px;
}

.mainMusicInfoItems {
  font: 1.1rem;
}

.mainMusicPrice {
  font-weight: bold;
}

.mainNewArrival {
  color: red;
}